# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# debug information files
*.dwo
*.log
*.tlog
*.idb
Match3-AndrewGB/.vs/
Match3-AndrewGB/Match3-AndrewGB/x64/
*.log
*.tlog
Match3-AndrewGB/Match3-AndrewGB/x64/Debug/Match3-AndrewGB.tlog/CL.command.1.tlog
Match3-AndrewGB/Match3-AndrewGB/x64/Debug/Match3-AndrewGB.log
Match3-AndrewGB/Match3-AndrewGB/compile.sh
Match3-AndrewGB/Match3-AndrewGB/level1HS.ini
Match3-AndrewGB/Match3-AndrewGB/level2HS.ini
Match3-AndrewGB/Match3-AndrewGB/level3HS.ini
Match3-AndrewGB/Match3-AndrewGB/main
Match3-AndrewGB/Match3-AndrewGB/run.ini
Match3-AndrewGB/Match3-AndrewGB/save.ini
Match3-AndrewGB/Match3-AndrewGB/highscores_level_1.xml
Match3-AndrewGB/Match3-AndrewGB/highscores_level_2.xml
Match3-AndrewGB/Match3-AndrewGB/highscores_level_3.xml

Match3-AndrewGB/Match3-AndrewGB/main.x86_64
PROYECTO_agodinez.zip
