# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# debug information files
*.dwo
*.log
*.tlog
*.idb
Match3-AndrewGB/.vs/
Match3-AndrewGB/Match3-AndrewGB/x64/
*.log
*.tlog
Match3-AndrewGB/Match3-AndrewGB/x64/Debug/Match3-AndrewGB.tlog/CL.command.1.tlog
Match3-AndrewGB/Match3-AndrewGB/x64/Debug/Match3-AndrewGB.log
